{{define "subject"}}Welcome to Kin!{{end}}
{{define "plainBody"}} 
Hi,

To activate your Kin account please click the following link:

<a href="https://api.kinofficial.co/͟api/u͟s͟e͟r͟s͟/͟a͟c͟t͟i͟v͟a͟t͟e͟d?͟t͟o͟k͟e͟n͟=͟{{.activationToken}}">http://localhost:4000/͟u͟s͟e͟r͟s͟/͟a͟c͟t͟i͟v͟a͟t͟e͟?͟t͟o͟k͟e͟n͟=͟{{.activationToken}}</a>

Please note that this is a one-time use token and it will expire in 3 days.

Thanks,

The Greenlight Team
{{end}}

{{define "htmlBody"}} 
<!doctype html> 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> 
    <p>Hi,</p>
    <p>To activate your Kin account please click the following link:</p>

    <a href="https://api.kinofficial.co/api/users/activated?token={{.activationToken}}">https://api.kinofficial.co/api/users/activated?token={{.activationToken}}</a>

    <p>Please note that this is a one-time use token and it will expire in 3 days.</p>
    
    <p>Thanks,</p>
    <p>The Kin Team</p>
</body>
</html> 
{{end}}