{{define "subject"}}Reset your Kin password{{end}}

{{define "plainBody"}}

Hi,

To reset your password please click the following link:

https://api.kinofficial.co/api/users/password?token={{.passwordResetToken}}

Please note that this link will expire in 45 minutes. If you need another password reset link please visit https://api.kinofficial.co/api/tokens/password-reset.

Thanks,
The Kin Team

{{end}}

{{define "htmlBody"}} 
<!doctype html> 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head> 
    <body>
        <p>Hi,</p>

        <p>To reset your password please click the following link:</p>

        <p>https://api.kinofficial.co/api/users/password?token={{.passwordResetToken}}</p>
        
        <p>Please note that this link will expire in 45 minutes. If you need another password reset link please visit https://api.kinofficial.co/api/tokens/password-reset.</p>
        
        <p>Thanks,</p>
        <p>The Kin Team</p>
    </body> 
</html>
{{end}}