{{define "subject"}}Reset your Kin password{{end}}

{{define "plainBody"}}

Hi,

To reset your password please click the following link:

h͟t͟t͟p͟s͟:͟/͟/specimen.͟c͟o͟m͟/͟u͟s͟e͟r͟s͟/͟p͟a͟s͟s͟w͟o͟r͟d͟?͟t͟o͟k͟e͟n͟=͟{{.passwordResetToken}}

Please note that this link will expire in 45 minutes. If you need another password reset link please visit h͟t͟t͟p͟s͟:͟/͟/͟specimen.͟c͟o͟m͟/͟t͟o͟k͟e͟n͟s͟/͟p͟a͟s͟s͟w͟o͟r͟d͟-͟r͟e͟s͟e͟t͟.

Thanks,
The Kin Team

{{end}}

{{define "htmlBody"}} 
<!doctype html> 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head> 
    <body>
        <p>Hi,</p>

        <p>To reset your password please click the following link:</p>

        <p>h͟t͟t͟p͟s͟:͟/͟/specimen.͟c͟o͟m͟/͟u͟s͟e͟r͟s͟/͟p͟a͟s͟s͟w͟o͟r͟d͟?͟t͟o͟k͟e͟n͟=͟{{.passwordResetToken}}</p>
        
        <p>Please note that this link will expire in 45 minutes. If you need another password reset link please visit h͟t͟t͟p͟s͟:͟/͟/͟specimen.͟c͟o͟m͟/͟t͟o͟k͟e͟n͟s͟/͟p͟a͟s͟s͟w͟o͟r͟d͟-͟r͟e͟s͟e͟t͟.</p>
        
        <p>Thanks,</p>
        <p>The Kin Team</p>
    </body> 
</html>
{{end}}