{{define "subject"}}Welcome to Kin!{{end}}
{{define "plainBody"}} 
Hi,

Thanks for signing up for a Kin account. We're excited to have you on board!

For future reference, your user ID number is {{.userID}}.

To activate your Kin account please click the following link:

https://api.kinofficial.co/api/users/activated?token={{.activationToken}}

Please note that this link will expire in 3 days and can only be used once.

Thanks,

The Kin Team
{{end}}

{{define "htmlBody"}} 
<!doctype html> 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> 
    <p>Hi,</p>
    <p>Thanks for signing up for a Kin account. We're excited to have you on board!</p> 
    <p>For future reference, your user ID number is {{.userID}}.</p>
    <p>To activate your Kin account please click the following link:</p>

    <a href="https://api.kinofficial.co/api/users/activated?token={{.activationToken}}">https://api.kinofficial.co/api/users/activated?token={{.activationToken}}</a>

    <p>Please note that this link will expire in 3 days and can only be used once.</p>
    
    <p>Thanks,</p>
    <p>The Kin Team</p>
</body>
</html> 
{{end}}